
/*  universal selector apply to all elemnts*/
*{
	margin:0px;
	padding:0px;

}
h1{
	font:bold 20px verdana,geneva, sans-serif;
}
h2{
	font:bold 14px verdana,geneva, sans-serif;
}
/* NEW2*/
h3{
	font:bold 12px verdana,geneva, sans-serif;
}

h4{
	font:bold 10px verdana,geneva, sans-serif;
}
/* ED.NEW2*/

/*el siguiente (body) : centra todo el texto (cuerpoEntro) de arriba a abajo > AFECTA TDO EL BDY */
body{
	text-align:center;
}


.contenedor001{
   max-width	: 800px; /*375x667 - iPhone SE // 820x1.180 -> iPad air  */
   margin		: 0 auto;
   
   
   /*  background	:#fffbd9;  */
   border		: 2px solid #999999;
   padding		: 100px; /*  80px  // px : LAS UNIDADES DEBEN IR PEGADAS AL NUMERO PARA QUE LAS LEA BIEN EL INTERPRETADOR DE CODIGO CSS  */

   /* works */
      background-image:url(imagenes/HeadImage_1200x252CyF_JPG_01.jpg);
		background-repeat	:   no-repeat;
		background-size		:	cover  ;  /* contain  */
		border-radius: 20px;
		border-bottom-left-radius    	: 0  ;
		border-bottom-right-radius   	: 0  ;

   /*color		: #c3c3c3; */
}

.imagen-texto-top{
	/*  background:url(imagenes/cuidadoMascotas.jpg) #f4f4f4; */

	/*works*/
   /*         background-image:url(imagenes/cuidadoMascotas.jpg);   */

   /*works*/
    /* background-image:url(imagenes/HeadImage_1200x252CyF_JPG_01.jpg); */

   /* No cargaba porque estaba grabado en otro directorio.. pdg.rev..   */

	/*
   background-repeat	:   no-repeat;
   background-size		:	cover;
   */	
}

.head-principal{
	background-color : #888888
}


#cuerpo {
	width:960px;
	margin:15px auto;
	text-align:left;

}
/* (Encabezado es diferente de (encabezado)  :: CSS ES CASE SENSITIVE)*/
#encabezado{
	background:#fffbb9;		    /*  ff fb b9 (#FFFBB9) (HEX) : COLO : AMARILLO CLARO */
	border: 1px solid #999999;  /*  99 99 99 (#999999) (HEX) : COLO : GRIS MEDIO */
	padding: 25px;				/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO   >> padding: 20px;*/
}
#menu{
	background:#8cbf88;			/*  CC CC CC (#CCCCCC) (HEX) : COLO : GRIS CLARO   346f2f   #075700  */
	padding: 5px 15px;			/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO  */
}
#seccion{
	float:left;
	width:660px;
	margin:20px;
}
#lateral{
	float:left;
	width:220px;
	margin:20px 0px;
	padding:20px;
	background:#CCCCCC;
}	
#article{
	background:#fffbcc;		    /*  ff fb b9 (#FFFBB9) (HEX) : COLO : AMARILLO CLARO */
	border: 1px solid #999999;  /*  99 99 99 (#999999) (HEX) : COLO : GRIS MEDIO */
	padding: 20px;				/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO  */
	margin-bottom: 15px;
}

#menu li{
	display: inline-block; /*  */
	list-style:none;
	padding:5px;
	font: bold 14px verdana, sans-serif;
	color: white;  	display: inline-block; /*  */


}
li{
	/*display:inline;*/
	/*float:left;*/
}
a{
	display:block;
	padding: 9px; /* distancia entre bloques */
	background-color:#86b483; /*dd dd dd   dddddd   #296b2d  #00bd0d  #4ac45e*/
}
/*example 01 w3 1.1*/
ul{
	background-color:#86b499;  /* sub box  > ul > */ 
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#86b999; 

}
/*example 01 w3-1.2*/
li a:hover{
	background-color:#86c999; 
}
/*example 01 w3-1.3*/
.active{
	background-color:#04aa6d;
}
li a{
	display : block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;

}

#article2{
text-align: left;

background:#FFFBCC;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;

-moz-border-radius: 20px;
-webkit-border-radius: 20px;
border-radius: 20px;
-moz-box-shadow: rgb(150,150,150) 5px 5px;
-webkit-box-shadow: rgb(150,150,150) 5px 5px;
box-shadow: rgb(150,150,150) 5px 5px;
}

article{
background:#FFFBCC;
border: 1px solid #999999;
padding: 20px;
margin-bottom: 15px;
}
article footer{
text-align:right;
}


#menu2{
	text-align: left;
	background: #cccccc;
	padding: 5px 15px;	
	background: -webkit-linear-gradient(top, #FFFFFF, #006699);
	background: -moz-linear-gradient(top, #FFFFFF, #006699);
}
#pie{
	background:#86b499;		    /*  ff fb b9 (#FFFBB9) (HEX) : COLO : AMARILLO CLARO / #fffbcc > AMARILLO CLARO 2*/
	border: 1px solid #999999;  /*  99 99 99 (#999999) (HEX) : COLO : GRIS MEDIO */
	padding: 20px;				/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO  */
	margin-bottom: 15px;
	text-align:center;
		 font: bold 12px verdana,geneva, sans-serif;
}

/*NEW > CON INICIO DEL SELECTOR CON PUNTO >> DIFERENTE DEL (NUMERAL) (#)  */
.piePunto{
	background:#86b499;		    /*  ff fb b9 (#FFFBB9) (HEX) : COLO : AMARILLO CLARO / #fffbcc > AMARILLO CLARO 2*/
	border: 1px solid #999999;  /*  99 99 99 (#999999) (HEX) : COLO : GRIS MEDIO */
	padding: 20px;				/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO  */
	margin-bottom: 15px;
	text-align:center;
		 font: bold 12px verdana,geneva, sans-serif;

}


.miForma{
	width: 180px;
	clear:both;
	text-align:left;
	 font: bold 12px verdana,geneva, sans-serif;

	 background: #86b499;       /*   #86b499; > VERDE CLARO PASTEL / #006699;  >> azul  // #ededed; >> GRIS BLANCO  // #128c67; >> verde forma ex*/
	 padding: 20px;				/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO  */
	 margin-bottom: 15px;
}

.miForma input  {
	width: 100%;
	clear: both;
	 font: bold 12px verdana,geneva, sans-serif;

}






.miForma2{
	width: 180px;
	clear:both;
	text-align:left;
	 font: bold 12px verdana,geneva, sans-serif;

	 background: #ededed;       /*   #006699;  >> azul  // #ededed; >> GRIS BLANCO  / #ededed; >  */
	 padding: 20px;				/* ::MINE :: PDDDING : DISTANCIA ENTRE EL BORDE Y EL TEXTO  */
	 margin-bottom: 15px;
}



footer{
  text-align: center;
  margin: 0 2em;
  padding: 0.3em;
  border-radius: 1em;

  /* background-image: url(../imagenes/Logo.png); 
  
  background-repeat: no-repeat;
  background-position: right 10px bottom;
  background-size: 10em auto;
  box-shadow: -1px -1px 10px rgba(85,107,47,0.5);
  */
}
footer p{
  margin: 0;
  padding: 2px;

	/*err: no carga .. pero lo dejo .. para despues corregir*/
  margin: 0;
  padding: 0;
  
  /* background: url(../imagenes/fondoLogo.jpg) center; 

  background-repeat: no-repeat;
  height:  400px;
  */
  /* el (height : 400px; // ERA EL QUE MOLESTABA */
}


#cabecera{
  margin: 0;
  padding: 0;
  background: url(../imagenes/fondoLogo.jpg) center;
  background-repeat: no-repeat;
  height:  400px;
}




#colPortada4{
  margin: 2em;
  padding: 0 ;
  background: rgba(0,0,0,0.1);
  border-radius: 3em;
  border-color: olive;
  box-shadow: 5px 5px 10px olive;
}






/* >> 1 a > MODIFICAION A1 --:: */

#columnas{
color: black;
padding: 0;
margin: 0;
overflow: hidden;
display: inline-flex;
vertical-align: top;

		/* NEW TIPO DE LETRA > SIN BOLD*/
		 font:  12px verdana,geneva, sans-serif;
}


#colPortada1, #colPortada2, #colPortada3{
  /* width: 22%; */
  width: 33%;

}


/* >>ED. MODIFICAION A1 >*/



#columnas h2{
  color: olive;
  text-align: center;
}

#columnas ul{
  list-style: none;
}

#formulario{
  margin: 0;
  padding: 0;
}

#formulario input {
  margin: 0;
  height: 20px;
  width: 160px;
  padding: 5px 8px;
  border-radius: 0.5em;
}

#formulario li{
  margin: 0.5em;
}

#guarderia {
  margin: 0;
  padding: 0;
  background: url(../imagenes/fondoGuarderia.png) center;
  background-repeat: no-repeat;
  height:  400px;
}

#logo{
  margin-left: 0;
  margin-top: 2.5em;
}


/**/


#principal{
  margin: 0;
  padding: 0;
  height: 400px;
  width: 100%;
}

#productos {
  margin: 0;
  padding: 0;
  background: url(../imagenes/fondoProductos.jpg) center;
  background-repeat: no-repeat;
  height:  400px;
}

#promociones {
  margin: 0;
  padding: 0;
  background: url(../imagenes/fondoPromociones.jpg) center;
  background-repeat: no-repeat;
  height:  400px;
}

#servicios {
  margin: 0;
  padding: 0;
  background: url(../imagenes/fondoServicios.jpg) center;
  background-repeat: no-repeat;
  height:  400px;
}

#validarCita{
  margin: 1em;
  display: block;
  margin: 0 auto;
  border-radius: 0.5em;
}

.col{
  padding: 1em;
  text-align: justify;
}

.header {
  padding: 0;
  margin: 0;
  list-style: none;
}

.iconoh2{
  width: 1em;
  margin: 0;
  padding-right: 0.5em ;
}


/* NEW > LEFTFLOW*/
.imgComplemento{
  float: right;
  margin: 2px 5px;
  width: 50%;
  border-radius: 1em;
}




.imgContenido{
  float: left;
  margin: 0 1em 0 0;
}

.imgContenido2{
  float: right;
  margin: 0 0 1em 1em;
}

.imgContenido, .imgContenido2{
  width: 30%;
  border-radius: 2em;
  box-shadow: 5px 6px 5px olive;
}

.intro-logo{
padding: 0;
margin: 0;
height: 100%;
}

.menu {
  width: 100%;
  display: inline-block;
  margin: 0;
}






